html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
  margin: 0;  
  padding: 0;  
  border: 0;  
  font-size: 100%;  
  font: inherit;  
  vertical-align: baseline;  
}

a {
  color: white;
  text-decoration: none;
}

body {
  background: #333;
  font-size: 2rem;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}

header {
  background: #999;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.projects {
  display: flex;
}

.projects img {
  border-radius: 30px;
  width: 100%;
  height: 100%;
}

nav {
  font-size: 1rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

nav ul li {
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin: 2px 5px;
  text-align: center;
  background-color: #555;
  border-radius: 10px;
}

@keyframes hovereffect {
  from { background-color: #555; }
  to { background-color: #AAA; }
}

nav ul li:hover {
  /* background-color: #AAA;
  color: white; */
  animation: hovereffect 3s;
}

.col {
  padding: 1.2rem;
}

.col0 {
  flex: 1 1 0;
}

.col1 {
  flex: 1 1 0;
}

.col2 {
  flex: 1 1 0;
}

.col3 {
  flex: 1 1 0;
}

.col4 {
  flex: 1 1 5rem;
  align-self: center;
  font-size: 1.4rem;
  margin: 0 auto;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #999;
}

footer a:first-child {
  color: dodgerblue;
  background: #444;
  padding: 1vh 1.2vw;
  border-radius: 25px;
}

footer a:hover {
  background: #666;
}

.intro {
  border: 0.5rem solid black;
  border-radius: 1rem;
  margin: auto 5rem;
  background: #444;
}

.intro h2 {
  font-weight: bold;
  padding-bottom: 0.2vh;
  font-size: 2rem;
}

.intro p {
  font-size: 1.4rem;
  margin: 2vw;
}

@media(max-width: 800px){
  .projects {
    flex-direction: column;
  }

  .projects img {
    width: 50%;
  }

  nav ul li {
    text-align:center;
  }
}

@media(max-width: 500px){
  nav ul {
    flex-direction: column;
  }
  
  .intro h2 {
    font-size: 1.1rem;
    margin-top: 3px;
  }

  .intro p {
    font-size: 1.1rem;
  }

  .projects img {
    width: 35%;
  }
}